# Dependências
node_modules/

# Logs
*.log

# Arquivos de ambiente
.env
.env.*

# IDEs
.vscode/
.idea/

# Outros arquivos do sistema
.DS_Store
Thumbs.db

# Cobertura de testes (se usar)
coverage/

# Cache de ferramentas
.cache/
.eslintcache
